
body{
    background-color: rgb(230, 159, 66);
}.app-title{
    text-align:center;
}
.search-bar{
    display:block;
    margin:10px auto ;
    width:300px;
    padding:10px;
    font-size:25px;
    color: white;
}
.temperature-text{
    text-align:center;
    font-size:35px;
}
.message-text{
    text-align:center;
}
